/* From Uiverse.io by eslam-hany */
.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: flex;
    flex-direction: column; /* Apila elementos verticalmente */
    /*justify-content: space-between;*/ /* Distribuye arriba y abajo */
    align-items: center; /* Centra horizontal */
/*    padding: 10px;*/
    color: #000;
}

.cover {
    top: 0;
    position: absolute;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    /* Aquí el cambio */
    display: flex;
    flex-direction: column; /* Los hijos se apilan en columna */
    /*justify-content: space-between;*/ /* Título arriba e imagen abajo */
    align-items: center; /* Centrado horizontal */
    padding: 10px; /* Un poco de espacio interno */
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

p {
    font-size: 20px;
    font-weight: bolder;
    margin: 5px;
}
