@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<container class="container">
    <div class="row">
        <div class="col">
            <h1>Pokemones!</h1>

            
            <div class="row" style="padding-top:20px">
                <div class="col">
                    <button class="btn btn-outline-info" id="p2sButton" onclick="cargarPokemones(2)">Anterior</button>
                    <button class="btn btn-outline-info" id="pButton" onclick="cargarPokemones(1)">Siguiente</button>
                </div>
            </div>


            <div class="row" style="padding-top:20px">
                <div class="col">


                    <div class="row" id="books">
                    </div>

                  
                </div>
            </div>
        </div>
    </div>
</container>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>


    $(document).ready(function () {
        cargarPokemones(0); 
    });

    let  urlStart = "https://pokeapi.co/api/v2/pokemon?offset=00&limit=40"
    let lastNext = null;
    let lastPrev = null;

    function cargarPokemones(numero){

        // Hacer Peticion a Pokemon API

        let targetUrl = urlStart;
        if (numero === 1 && lastNext) targetUrl = lastNext;    
        if (numero === 2 && lastPrev) targetUrl = lastPrev;


        $.ajax({
            url: targetUrl,
            method: "GET",
            dataType: "JSON",
            success: function (data) {
                $("#books").empty();

                console.log(data)
                console.log("NEXT")
                console.log(data.next)
                console.log("PREVIOUS")
                console.log(data.previous)

                urlStart = targetUrl;
                lastNext = data.next;
                lastPrev = data.previous;


                $.each(data.results, function (index, value) {

                    var theurl = value.url;
                    var thename = value.name;
                    var thenext = value.next;

                    $.ajax({

                        url: theurl,
                        method: "GET",
                        dataType: "JSON",
                        success: function (data) {

                            
                            var hp = data.stats[0].stat.name + ":" + data.stats[0].base_stat;
                            var attack = data.stats[1].stat.name + ":" + data.stats[1].base_stat;
                            var defense = data.stats[2].stat.name + ":" + data.stats[2].base_stat;
                            var special_attack = data.stats[3].stat.name + ":" + data.stats[3].base_stat;
                            var special_defense = data.stats[4].stat.name + ":" + data.stats[4].base_stat;
                            var speed = data.stats[5].stat.name + ":" + data.stats[5].base_stat;

                            $("#books").append(
                                `
                                            <div class="book" id="book" >
                                            <p>STATS</p>
                                                       <p>${hp}</p>
                                                       <p>${attack}</p>
                                                       <p>${defense}</p>
                                                       <p>${speed}</p>
                                                       <p>${special_attack}</p>
                                                       <p>${special_defense}</p>
                                            <div class="cover">
                                                    <p>${thename}</p>
                                                        <img src="${data.sprites.other.showdown.front_default}"/>
                                                    <p>Exp: ${data.base_experience}</p>
                                                    <p>Altura: ${data.height}</p>
                                                    <p>Peso: ${data.weight}</p>
                                           </div>
                                         </div>

                                    `
                            );

                        },
                        error: function (data) {
                            console.log(error);
                        }

                    });




                });

            },
            error: function () {
                console.log("Error en la peticion")
            }



        });

    }


</script>

