@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Pokemones!</h1>

<button class="btn btn-success" id="pooButton">Pokemon!</button>



<container class="container">
    <div class="row">
        <div class="col">


            <div class="row">
                <div class="col">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Experiencia</th>
                                <th>height</th>
                                <th>weight</th>
                                <th>Stats</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                      
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</container>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>




    // Hacer Peticion a Pokemon API

    $.ajax({
        url: "https://pokeapi.co/api/v2/pokemon?offset=20&limit=20",
        method: "GET",
        dataType: "JSON",
        success: function (data) {
            console.log("se hizo la peticion correctamente")
            console.log(data)
            console.log(data.results)

           

            $.each(data.results, function (index, value) {
                console.log(value.url);

                var theurl = value.url;
                var thename = value.name;

                $.ajax({
                    
                    url: theurl,
                    method: "GET",
                    dataType: "JSON",
                    success: function(data){
                        console.log(data);

                        // console.log(data.stats[0].base_stat)
                        // console.log(data.stats[0].stat.name)
                        var hp = data.stats[0].stat.name + ":" + data.stats[0].base_stat;
                        var attack = data.stats[1].stat.name + ":" + data.stats[1].base_stat;
                        var defense = data.stats[2].stat.name + ":" + data.stats[2].base_stat;
                        var special_attack = data.stats[3].stat.name + ":" + data.stats[3].base_stat;
                        var special_defense = data.stats[4].stat.name + ":" + data.stats[4].base_stat;
                        var speed = data.stats[5].stat.name + ":" + data.stats[5].base_stat;
                        

                        $("#tbody").append(`

                                  <tr>
                                   <td><img src="${data.sprites.front_default}"/></td>
                                   <td>${thename}</td>
                                   <td>${data.base_experience}</td>
                                   <td>${data.height}</td>
                                   <td>${data.weight}</td>
                                   <td>
                                       <ul>
                                           <li>${hp}</li>
                                           <li>${attack}</li>
                                           <li>${defense}</li>
                                           <li>${speed}</li>
                                           <li>${special_attack}</li>
                                           <li>${special_defense}</li>
                                       </ul>
                                   </td>
                               </tr>
                        `)

                    },
                    error: function(data){
                        console.log(error);
                    }
                
                });




            });

        },
        error: function () {
            console.log("Error en la peticion")
        }



    });


    $('#pButton').click(function () {
        $('.text').text('loading...');
        $.ajax({
            type: "GET",
            url: "https://pokeapi.co/api/v2/pokemon-species/pikachu/",
            success: function (data) {
                var pokeDescription =
                    JSON.stringify(data.flavor_text_entries[2].flavor_text);
                var prettyDescription =
                    pokeDescription.replace(/\\n/g, ' ');
                $('.PokeInfo').text(prettyDescription);
            },
        });
    });


</script>

